doctype html
html
	head
		title User auth exercise
		link(rel='stylesheet' href='/lib/bootstrap/dist/css/bootstrap.min.css')
	body
		block content

		script(src='/lib/jquery/dist/jquery.min.js')
		script(src='/lib/bootstrap/dist/js/bootstrap.min.js')

